{% extends 'mainTemp.html' %}

<main role="main" class="min-vh-100">
    <br>
      {% block header %}
      {% load static %}
      <br>
      <br>
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Page Not Found</h1>
          <p class="lead text-muted">Page Not Found</p>
          <p>
            <a href="" class="btn btn-primary my-2">Homepage</a>
            <!-- <a href="#" class="btn btn-secondary my-2">Secondary action</a> -->
          </p>
        </div>
      </section>
      {% endblock %}

      {% block content %} <br> {% endblock %}
  </main>